
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #1A0B2E;
}
/* Shared style */
.display-flex{
    display: flex;
}
.title{
    color: #ffff;
    font-size: 3.75rem;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 8px;
}
.btn{
    background: linear-gradient(90deg,
   #F7E93F 0%,
   #FB09B4 51%,
   #9100FB 100% );
   border: none;
   padding:12px 16px ;
   border-radius: 10000px;
   color: #ffffff;
   font-size:1rem ;
   font-weight: 600;
   transition: all 4s ease-in-out  0.2s;
   cursor: pointer;
}
.btn:hover{
    background: linear-gradient(135deg,
    red 0%,
    rgb(128, 0, 85) 51%,
    rgb(255, 0, 0) 100%);
    transform: scale(1.08);
} 


/* Header releted style */
header{
    padding: 24px 0;
    /* background-color: #412567; */
}
.container {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.bar{
    /* display: none; */
    opacity: 0;
    font-size: 3.75rem;
    color: #ffffff;
}

.brand-title>span{
    background: linear-gradient(to bottom,
   #F7E93F 0%,
   #FB09B4 51%,
   #9100FB 100% );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.menu{
    list-style: none;
    gap: 2rem;
}
.menu li a{
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.menu li a:hover{
    background: #9100FB;
    padding: 8px 6px;
    border-radius: 20px;
}
.menu li a:focus{
    background: #debdf5; 
}

/* Banner releted style */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    min-width: 1600px;
    text-align: center;
     margin: 100px 0; 
     /* background-repeat: no-repeat;  */
     /* margin: 0 auto; */
     
}
.banner-content-container{
    /* max-width: 560px; */
      margin: 0 auto;  
    position: relative;
    top: -30px;
     border: 1px solid transparent; 
     backdrop-filter: blur(10px); 
    background-color: rgb(207, 183, 241,0.02);
    border-radius: 10px;
    width: 35vw;
}
.banner-circle-image{
    width: 558px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.banner-circle-image>img{
    width: 100%;
    
}
.banner-circle-microphone{
    max-width: 200px;
    position: absolute;
    top: 200px;
    left: 250px;
}
.banner-circle-microphone img{
    width: 116;
}
.banner-description{
    font-size: 1rem;
    color: #ffff;
}
.new button{
    border: none;
     background-color: #2aec92 ; 
     padding: 8px 16px;
     border-radius: 1000px;
     color: #1A0B2E; 
     font-size: 1.12rem;
     font-weight: 600;
     position: absolute;
     top: 30px;
    left: 450px;
    cursor: pointer;
}
.btn-container{
    margin: 24px;
}
.btn-green{
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 1000px;
    border-color: #00FF88;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
}
.btn-green:hover{
    background-color: #eb49ba;
    color: #02361e;
    border: 2px solid greenyellow;
}

/* responsive releted degine */
@media screen and (max-width:576px) {
    .menubar,
    .btn-primary{
        display: none;
    }
    .text>h1{
        font-size: 2rem;
    }
    
 .brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
     margin: 0 auto; 

    
 }
 .bar{
        opacity: 1;
    font-size: 2rem;
    }
    .banner-container{
    
    min-width: 560px;
    text-align: center;
      margin: 0 auto;  
     padding-top: 10px;
     /* background-position: middle;
      */
      background-size: contain;
      background-repeat: no-repeat;
     
}
.banner-content-container{
    width: 40%;
    margin: 0 auto;
     margin-top: 10px;

}
.banner-circle-image{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.banner-circle-microphone{
    max-width: 100px;
    position: absolute;
    top: 60px;
    left: 70px;
}
.banner-circle-microphone img{
    width: 70px;
    
}
.new button{
     padding: 4px 8px; 
     font-size: 0.9rem;
      position: absolute;
     top: 20px;
    left: 170px;
} 
.banner-content>h1{
    font-size: 1.9rem;
}
.banner-description{
    font-size: 0.7rem;
    color: #ffff;
}
.btn-container{
    display: flex;
}
.btn-container button{
    padding: 4px 4px;
    font-size: 14px;
}


}