
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #1A0B2E;
}
/* Shared style */
.display-flex{
    display: flex;
}
.title{
    color: #ffff;
    font-size: 3.75rem;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 8px;
}
.btn{
    background: linear-gradient(90deg,
   #F7E93F 0%,
   #FB09B4 51%,
   #9100FB 100% );
   border: none;
   padding:12px 16px ;
   border-radius: 10000px;
   color: #ffffff;
   font-size:1rem ;
   font-weight: 600;
   transition: all 4s ease-in-out  0.2s;
   cursor: pointer;
}
.btn:hover{
    background: linear-gradient(135deg,
    red 0%,
    rgb(128, 0, 85) 51%,
    rgb(255, 0, 0) 100%);
    transform: scale(1.08);
} 


/* Header releted style */
header{
    padding: 24px 0;
}
.container {
    justify-content: space-between;
     align-items: center;  
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    display: flex;
    align-items: center;
    gap: 12px;
}

.bar{

    display: none;
    font-size: 3.75rem;
    color: #ffffff;
}
.text{
    margin: auto 0;
}

.title>span{
    background: linear-gradient(to bottom,
   #F7E93F 0%,
   #FB09B4 51%,
   #9100FB 100% );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.menu{
    
    list-style: none;
    gap: 2rem;
}
.menu li a{
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.menu li a:hover{
    background: #9100FB;
    padding: 8px 6px;
    border-radius: 20px;
}
.menu li a:focus{
    background: #debdf5; 
}

/* Banner releted style */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    text-align: center;
     margin: 100px 0; 
     /* background-repeat: no-repeat;  */
     /* margin: 0 auto; */
     
}
.banner-content-container{
      margin: 0 auto;  
    position: relative;
    top: -30px;
     border: 1px solid transparent; 
     backdrop-filter: blur(10px); 
    background-color: rgb(207, 183, 241,0.02);
    border-radius: 10px;
    width: 35vw;
}
.banner-circle-image{
    width: 558px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.banner-circle-image>img{
    width: 100%;
    
}
.banner-circle-microphone{
    max-width: 200px;
    position: absolute;
    top: 200px;
    left: 250px;
}
.banner-circle-microphone img{
    width: 116px;
}
.banner-description{
    font-size: 1rem;
    color: #ffff;
}
.new button{
    border: none;
     background-color: #2aec92 ; 
     padding: 8px 16px;
     border-radius: 1000px;
     color: #1A0B2E; 
     font-size: 1.12rem;
     font-weight: 600;
     position: absolute;
     top: 30px;
    left: 450px;
    cursor: pointer;
}
.btn-container{
    margin: 24px;
}
.btn-green{
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 1000px;
    border-color: #00FF88;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
}
.btn-green:hover{
    background-color: #eb49ba;
    color: #02361e;
    border: 2px solid greenyellow;
}

/* podcast section */
.podcast-container{
    
}
.content-container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.content{
    margin-bottom: 160px;
    margin-top: 50px;
}
.content>h3{
    font-size: 3rem;
    font-weight: 800;
    color: #ffff;
}
.content>p{
    font-size: 1rem;
    color: #ffff;
    line-height: 20px;
}
.review{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin-bottom: 120px;


}
.rate h1{
    font-size: 3rem;
    color: #00FF88;
}
.rate p{
    font-size: 1rem;
    color: #fff;
    line-height: 20px;
}
/* techwave section */
.techwave-container{
    width: 100%;
    background-color: #230E3D;
    padding: 120px 200px;
}
.techwave-content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.card-1{
    grid-row: span 2;
    padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5{
     background: #351165;
     border-radius: 40px;
     box-shadow: 0px 4px 4px #00000025;
}


.card-2{
    grid-column: span 2;
    padding: 40px;
}
.card-3{
    grid-column: span 2;
    padding: 40px;
}
.card-4{
    grid-column: span 2;
    padding: 40px;
}
.card-5{
    padding: 40px;
}
.card-image{
    margin-bottom: 16px;
}
.tech-title{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 16px;
}
.card-description{
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
}


/* responsive releted degine */
@media screen and (max-width:576px) {
    .menubar,
    .btn-primary{
        display: none;
    }
    .text>h1{
        font-size: 2rem;
    }
    
 .brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 0 auto; 
 }
 .bar{
        display: block;
    font-size: 2rem;
    }
    .banner-container{
    
   width: 100%;
    text-align: center;
      margin: 0 auto;  
      padding-top: 10px;
      background-size: contain;
      background-repeat: no-repeat;
}
.banner-content-container{
    width: 40%;
    margin: 0 auto;
     margin-top: 10px;
    background-color: transparent;
}
.banner-circle-image{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.banner-circle-microphone{
    max-width: 100px;
    position: absolute;
    top: 60px;
    left: 70px;
}
.banner-circle-microphone img{
    width: 70px;
}
.new button{
     padding: 4px 8px; 
     font-size: 0.9rem;
      position: absolute;
     top: 20px;
    left: 170px;
} 
.banner-content>h1{
    font-size: 1.9rem;
}
.banner-description{
    font-size: 0.7rem;
    color: #ffff;
}
.btn-container{
    display: flex;
}
.btn-container button{
    padding: 4px 4px;
    font-size: 14px;
}
.content-container{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.review{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    margin-bottom: 120px;
}
.techwave-container{
    width: 100%;
    background-color: #230E3D;
    padding: 40px 20px;
}
.techwave-content{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 30px;
}
}
/* large device style */
@media screen and (min-width:576px) and (max-width:992px){
     .banner-container{
        background-size: cover;
        background-position: center;
        margin: 120px 0;
    }
    .banner-content-container{
        width: 70%;
        max-width: 900px;
        padding: 40px 20px;
    }
    .banner-circle-image img{
        width: 100%;
        max-width: 560px;
    }
    .banner-circle-microphone{
        position: absolute;
        top: 220px;
        left: 270px;
    }
    .new button{
        top: 70px;
        left: 480px;
        position: absolute;
    } 
     .techwave-content{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
}